<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edytuj czytelnika</title>
</head>
<body>
<h1>Edytuj czytelnika</h1>
<form th:action="@{/czytelnicy/edycja/{id}(id=${czytelnik.id})}" th:object="${czytelnik}" method="post">
    <label for="imie">Imię:</label>
    <input type="text" id="imie" th:field="*{imie}" required /><br/>

    <label for="nazwisko">Nazwisko:</label>
    <input type="text" id="nazwisko" th:field="*{nazwisko}" required /><br/>

    <button type="submit">Zapisz</button>
</form>
<a th:href="@{/czytelnicy}">Powrót do listy</a>
</body>
</html>
